html{
    font-size: 62.5%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background: white;
    font-family: "Montserrat", sans-serif;
}

h1{
    font-size: 2.4rem;
}

h2{

}

h3{
    font-size: 1.6rem;
}

.topBar li, a{
    font-size: 1rem;
    font-weight: 400;
    color: white;
}

.topBar a{
    text-decoration: none;
}

.navContainer li{
    font-size: 1rem;
    font-weight: 600;
}

.material-icons.md-13 { font-size: 1.3rem; }
.material-icons.md-16 { font-size: 1.6rem; }
.material-icons.md-21 { font-size: 2.1rem; }

.topBarContainer{
    background: #2f3640;
    color: white;
    position: sticky;
}

.topBar{
    width: 60%;
    margin: auto;
    min-height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.currency{
    flex: 2;
    float: left;
}

.topBar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.cart{
    background: rgb(69, 199, 238);
    min-height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5rem;
}
.cart i{
    padding: 0 1.5rem;
}

.navContainer{
    background: transparent;
    position: sticky;
    z-index: 0;
}

nav{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
}

nav h1{
    flex: 1;
}

.navOptions{
    flex: 1;
    display: grid;
    grid-template-columns: 3fr 5rem 1fr;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    grid-column: 1/2;
}

.navOptions ul li{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.navOptions ul li:hover{
    color: cyan;   
}



.searchBoxContainer{
    border: 0.1rem solid rgb(202, 202, 202);
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 3/4;
}

.searchBoxContainer input{
    width: 15rem;
    border: none;
    outline: none;
    background: transparent;
    padding: 0.5rem 0.8rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    color: rgb(95, 95, 95);
}

.searchBoxContainer i{
    color: rgb(202, 202, 202);
    height: 1.522rem;
    width: auto;
    padding: 0.5rem 0.8rem;
}

.headShowCase img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

.shoppingButtonContainer{
    text-decoration: none;
    color: black;
    background: transparent;
    position: absolute;
    top: 55rem;
    right: 25rem;
}

.shoppingButtonContainer h3{
    padding: 1.6rem 3.2rem;
    border: 0.1rem solid black;
}

